<% layout('/layout/page') -%>
<% block('title', 'Hello Node JS!!!'); -%>


<div style='font-size: 25px; color: green; text-align: center; max-width: 1000px;'>
    <p><b>1. </b>lorem ipsum dolor lorem ipsum dolor
        lorem ipsum dolor lorem ipsum dolor
        lorem ipsum dolor lorem ipsum dolor
        lorem ipsum dolorlorem ipsum dolor</p>
    <p><b>2. </b>lorem ipsum dolor lorem ipsum dolor
        lorem ipsum dolor lorem ipsum dolor
        lorem ipsum dolor lorem ipsum dolor
        lorem ipsum dolorlorem ipsum dolor</p>
    <p><b>3. </b>lorem ipsum dolor lorem ipsum dolor
        lorem ipsum dolor lorem ipsum dolor
        lorem ipsum dolor lorem ipsum dolor
        lorem ipsum dolorlorem ipsum dolor</p>
</div>`